@mixin circle($size, $color) {
width: $size;
height: $size;
border: 1px solid black;
border-radius: 50%;
background-color: $color;
}

#face {
@include circle(300px, yellow);
position: relative;
}

.eyes {
@include circle(55px, white);
position: absolute;
}

.eyeballs {
@include circle(18px, black);
position: absolute;
}

#left-eye {
top: 60px;
left: 60px;
}

#left-eyeball {
top: 25px;
left: 25px;
}

#right-eye {
top: 60px;
left: 180px;
}

#nose {
@include circle(45px, red);
position: absolute;
top: 120px;
left: 125px;
}

#mouth {
width: 120px;
height: 60px;
border-top: 1px solid black;
border-bottom: 1px solid black;
background-color: white;
position: absolute;
top: 180px;
left: 90px;
}

.mouth-corner {
@include circle(60px, white);
position: absolute;
top: 180px;
left: 60px;

&.right {
left: 180px;
}
}

.teeth {
border: 1px solid black;
position: absolute;
width: 27px;
height: 27px;
left: 35px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;

&:nth-of-type(2) {
left: 62px;
}
}